body {
  font-family: Arial, sans-serif;
  /* line-height: 40px; */
  background: url(./assects/images/BlogsArtboard-1-copy-9.jpg);
  background-size: 100% 50vh;
  background-repeat: no-repeat;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
}

.logo img {
  max-width: 120px;
}

nav {
  float: right;
  display: flex;
  align-items: center;
}

.nav-links {
  float: right;
  line-height: 80px;
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  text-decoration: none;
  box-shadow: 2px 2px 50px red;
}

.mobile-nav {
  display: none;
  font-size: 1rem;
  padding: 0.5rem;
}
#main{
  height: 50vh;
  width: 100%;
}
#s1{
  padding: 30px;
  display:flex;
  flex-wrap: wrap;
  justify-items: center;
  gap: 20px;

}
.a1{
  grid-area: b1;
}
.a2,.a4,.a6{
  width: 500px;
  grid-area: b2;
}

#s1 p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#s1 img{
  height: 400px;
  width: 400px;
}
.c1{
  width: 500px;  
}
.c1 p{
  line-height: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.w1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.icons .icon{
  font-size: 50px;
}
.s5 {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
@media (max-width: 425px) {
  .nav-links {
    display: none;
  }

  .mobile-nav {
    display: inline-block;
    background-color: #333;
    color: white;
    border: none;
    outline: none;
  }

  .mobile-nav option {
    background-color: grey;
    color: white;
  }
  #s1 img{
    width: 250px;
  }
  .c1{
    width: 300px;  
  }
  .c1 p{
    display: flex;
    flex-wrap: wrap;
  }
  .icons{
    display: flex
    justify-content:center;
  }
}
