body{
  background-image: url(./main.png);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
}
.b1{
  height: 100vh;
  width: 100%;
}
.mobile-nav {
    display: none;
    font-size: 1rem;
    padding: 0.5rem;
  }
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
}
.logo img {
  max-width: 120px;
}

nav {
  float: right;
  display: flex;
  align-items: center;
}

.nav-links {
  float: right;
  line-height: 10px;
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  text-decoration: none;
  box-shadow: 2px 2px 50px red;
}
.t1{
  margin-top: 10px;
}
.t1 p{
  text-align: center;
}  
.new-section {
  margin: 10px;
  padding: 10px;
  border: 2px solid none;
}
.serv1 {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.serv1 img {
  width: 200px;
  height: 200px;
}
.serv1 div {
  border: 2px solid none;
  width: 300px;
}
.new-section {
  margin: 10px;
  padding: 10px;
  border: 2px solid none;
}
.serv1 {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.serv1 img {
  width: 200px;
  height: 200px;
}
.serv1 div {
  border: 2px solid none;
  width: 300px;
}
.s2 {
  background-color: gainsboro;
}
.s3 {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}
.b2{
  width: 500px;
}
.s4 {
  background-image: url(./assects/images/main-2.png);
  background-size: 100% 100vh;
  text-align: center;
  padding: 10px;
}
.s5 {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mobile-nav {
  display: none;
  font-size: 1rem;
  padding: 0.5rem;
}
@media (max-width: 425px) {
    .nav-links {
      display: none;
    }
  
    .mobile-nav {
      display: inline-block;
      background-color: #333;
      color: white;
      border: none;
      outline: none;
    }
    body {
      background: url(./main.png);
      background-size: 100% 100vh;
      background-repeat: repeat-x;
    }
  
    .mobile-nav option {
      background-color: grey;
      color: white;
    }
  }